# Ignore specific folders
complete/
data/
data-extracts/
split_by_genre/
split_by_genre_no_subgenre/

# Ignore cache and other temporary files
__pycache__/
.cache/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/
